video {
  object-fit: cover; /*на всю страницу*/
  width: 100vw;
  height: 100vh;
  position: fixed; /*чтобы не перемещалось*/
  top: 0;
  left: 0;
  z-index: -1; /*чтобы сверху видео было видно надпись*/
}

.App {
  background-color: rgba(255, 255, 255, 0.5);
}

.container {
  display: flex;
  justify-content: center;
}

.search-container {
  display: flex;
  justify-content: center;
}
.form-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 50%;
  align-items: center;
}
.search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  color: #575756;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  border-radius: 12px;
}

.center {
  display: flex;
  justify-content: center;
}
.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}
li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1,
h2,
ul,
p {
  font-family: "Open Sans", sans-serif;
}

.icon {
  width: 30px;
}

button {
  border-radius: 12px;
  border: none;
  background-color: #dbecc4;
  cursor: pointer;
}

.recipies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 20px;
}
.recipe {
  display: flex;
  flex-direction: column;
  background-color: #ddd6e8;
  width: 40%;
  border-radius: 12px;
}
.dish-img {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.description {
  padding: 0 40px;
}

